
script(src='https://code.jquery.com/jquery-3.6.0.slim.min.js')
script(src='assets/js/vendors~main.bundle.js')
script(src="https://api-maps.yandex.ru/2.1/?apikey=1553c677-16fe-4d87-838c-fd3f2e9a8e63&lang=ru_RU" type="text/javascript")
script(src='assets/js/main.bundle.js?v=' + PACKAGE.version)