.contacts-section {
  padding-bottom: 80px;
}
.contacts{
  display: flex;
  justify-content: space-between;
}

.contacts__item{
  width: 560px;
}

.contacts__map{
  width: calc(100% - 620px);
  border-radius: $brs;
  overflow: hidden;
  position: relative;
}

.map{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


.contacts__block{
  padding: 60px;
  border: 1px solid #E0E3EB;
  border-radius: 6px;
  margin-bottom: 32px;
  &:last-child{
    margin-bottom: 0px;
  }
  &.--bg-1{
    background: url(../img/banners/address-1.png) no-repeat right top / auto 332px;
  }
  &.--bg-2{
    background: url(../img/banners/address-2.png) no-repeat right top / auto 332px;
  }

  .text-title{
    font-size: 18px;
  }

  .contact p:not(.text-title ){
    line-height: 26px;
  }
}




.contacts__title{
  font-size: 22px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 22px;
}

.contact__item{
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  &:last-child{
    margin-bottom: 0px;
  }
}


.contact__ico {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #C9CDD3;
  margin-right: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  .svgsprite{
    width: 20px;
    height: 20px;
  }
}

@media(max-width: 1200px){
  .contacts{
    display: block;
  }
  .contacts__map{
    width: 100%;
    height: calc(100vw / 2);
  }

  .contacts__item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .contacts__block{
    width: calc(50% - 15px);
    margin-bottom: 0px;
  }
}
@media(max-width: 980px){
  .contacts__block{
    padding: 40px;
  }
}

@media(max-width: 768px){
  .contacts__item{
    display: block;
    margin-bottom: 18px;
  }

  .contacts__block{
    margin-bottom: 18px;
    width: 100%;
    padding: 32px 20px;
    &.--bg-1{
      background-size: auto 204px;
      background-position: right 15px;
    }
    &.--bg-2{
      background-size: auto 204px;
    }
  }

  .contacts__title{
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 18px;
  }

  .contact__item {
    margin-bottom: 12px;
  }

  .contact__ico{
    width: 32px;
    height: 32px;
    margin-right: 14px;
  }

  .contacts__map{
    height: 325px;
  }

  .contact .text-title{
    font-size: 15px;
  }

  .contacts__block .contact p:not(.text-title){
    line-height: 19px;
  }
}