.section-carts{
  margin-bottom: 20px;
}

.carts-list{
  display: flex;
  flex-wrap: wrap;
}

.carts-list-4 {
  margin-right: -33px;
  .cart{
    width: calc(25% - 33px);
    margin-right: 33px;
  }
}

.carts-list-3 {
  margin-right: -33px;
  .cart{
    width: calc(33.3% - 33px);
    margin-right: 33px;
  }
}

.cart{
  margin-bottom: 40px;
}

.cart__top{
  position: relative;
}

.cart__pic{
  height: 320px;
  overflow: hidden;
  border-radius: $brs;
  margin-bottom: 18px;
  position: relative;
  cursor: pointer;
  background-color: #F7F7F7;
}

.cart__pic-img{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
  transition: transform .4s;
  .cart__pic:hover &{
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.1);
  }
  .cart__pic.active{
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.1);
  }
}

.tags{
  display: flex;
  position: absolute;
  left: 22px;
  top: 22px;
}

.tag{
  margin-right: 14px;
  font-size: 16px;
  line-height: 28px;
  padding: 0 10px;
  height: 30px;
  border-radius: 4px;
  color: #fff;
  &:last-child{
    margin-right: 0px;
  }
  &.--green{
    background-color: #55CF4A;
  }
  &.--orange{
    background-color: #F15938;
  }
}

.cart__like{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #F1F1F1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 22px;
  bottom: 22px;
  .svgsprite._heart-full{
    fill: #D8D8D8;
    transform: translateY(2px);
    transition: .4s;
  }
  &:hover,
  &.active{
    background-color: #FFE2E8;
    .svgsprite._heart-full{
      fill: #F76785;
    }
  }
}


.cart__buttons{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 35px;
  width: 100%;
  max-width: 200px;
  display: none;
  .button{
    width: 100%;
    margin-bottom: 14px;
    &:last-child{
      margin-bottom: 0px;
    }
  }
}



.cart__title{
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 10px;
}


@media(max-width: 1200px){
  .cart__pic{
    height: 265px;
  }

  .tag {
    font-size: 14px;
    margin-right: 5px;
  } 
}


@media(max-width: 980px){
  .carts-list-4{
    margin-right: -15px;
    .cart{
      width: calc(50% - 15px);
      margin-right: 15px;
    } 
  }
  .carts-list-3{
    margin-right: -15px;
    .cart{
      width: calc(50% - 15px);
      margin-right: 15px;
    } 
  }
  .cart__title{
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 8px;
  }
}


@media(max-width: 768px){
  .section-carts{
    margin-bottom: 16px;
  }
  .cart{
    margin-bottom: 16px;
  }

  .cart__pic{
    border-radius: 6px;
  }

  .cart__like{
    width: 35px;
    height: 35px;
    right: 12px;
    bottom: 12px;
  }

  .cart__like .svgsprite._heart-full{
    width: 15px;
    transform: translateY(1px);
  }

  .tags{
    top: 12px;
    left: 12px;
    flex-wrap: wrap;
    width: calc(100% - 24px);
  }

  .tag{
    font-size: 10px;
    height: 19px;
    line-height: 19px;
    padding-left: 6px;
    padding-right: 6px;
    white-space: nowrap;
    margin-bottom: 5px;
  }

  .cart__title{
    font-size: 15px;
    line-height: 16px;
    margin-bottom: 5px;
  }
}

@media(max-width: 500px){
  .cart__buttons{
    width: calc(100% - 20px);
    bottom: 12px;
    .button {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 13px;
      height: 40px;
    }
  }

  .cart__pic{
    height: 175px;
    margin-bottom: 10px;
  }
}
