.page-banner-section{
  margin-bottom: 20px;
}

.page-banner{
  padding: 75px 0;
  overflow: hidden;
  margin-bottom: 40px;
  width: 100%;
  border-radius: $brs;
}

.page-banner__title{
  max-width: 450px;
  margin: 0 auto 40px;
}

.page-banner__btn{
  display: flex;
  justify-content: center;
  .button{
    width: 100%;
    max-width: 220px;
  }
}


@media(max-width: 768px){
  .page-banner-section{
    margin-bottom: 4px;
  }

  .page-banner{
    padding: 40px 0;
    margin-bottom: 28px;
    border-radius: 6px;
  }

  .page-banner__title{
    max-width: 250px;
    margin-bottom: 20px;
  }

  .page-banner__btn .button{
    max-width: 180px;
  }
  
}