mixin text-section 
  section.text-section
    .container
      .text-block
        h2.text-block__title Доставка цветов и букетов в Белгороде - от салона цветов Флора!
        .text-block__list
          .text__item
            p.text Букеты цветов никогда не выйдут из моды. Они способны поднимать настроение всем, кому они адресованы – женщинам, мужчинам, детям. Взяв с собой букет на выставку, презентацию, иное торжество, можно всегда оставаться в тренде. Более того, букеты можно дарить и просто так, проявляя внимание, заботу, уважение и привязанность.
          .text__item
            p.text 
              | Интернет магазин цветов «Флора» оказывает 
              a(href="#") услуги по комплексному и вертикальному озеленению 
              | интерьеров торговых центров, жилых домов, офисов, предприятий, используя как живые так и искусственные растения самого высокого качества.
      .text-block
        h2.text-block__title Свадебная флористика
        .text-block__list
          .text__item
            p.text
              a(href="#") Свадебная флористика  
              | – одно из самых любимых направлений в работе салонов «Флора», ведь  стильное флористическое оформление и оригинальный декор – важная часть любой современной свадьбы, именно это создаёт особое настроение  и идеальную обстановку для такого важного в жизни каждой пары момента. Лучший вариант подбирается индивидуально для каждой пары и вне зависимости от бюджета, создаётся праздник,в котором каждая деталь идеально гармонирует.
          .text__item
            p.text 
              a(href="#") Новогодняя флористика 
              | и декор, оформление торжеств и мероприятий – специалисты салона знают, как праздник превратить в нечто большее, украсив интерьеры с учётом модных тенденций в области дизайна и флористики. 